{% extends "base.html" %}

{% block content %}
<article>
    <header class="mb-4">
        <h1 class="fw-bolder mb-1">{{ post.title }}</h1>
        <div class="text-muted fst-italic mb-2">Posted on {{ post.created }} by {{ post.author.first_name }} {{ post.author.last_name }}
        </div>
    </header>
    <div>
        {% if post.cover %}
        <img src="{{ post.cover.url }}" class="card-img-top" alt="...">
        {% endif %}
    </div>
    <section class="mb-5">
        <p class="fs-5 mb-4">{{ post.content | safe }}</p>
        <p>Comments: {{ post.comments.count }}</p>
    </section>
    <!-- Comments -->
    {% for comment in post.comments.all %}
    <div class="d-flex mb-4">
        <!-- Parent comment-->
<!--        <div class="flex-shrink-0"><img class="rounded-circle"-->
<!--                                        src="https://dummyimage.com/50x50/ced4da/6c757d.jpg"-->
<!--                                        alt="..."/></div>-->
        <div class="ms-3">
            <div class="fw-bold">{{ comment.author }}, {{ comment.created | date:"Y-m-d" }}</div>
            {{ comment.content }}
        </div>
    </div>
    {% endfor %}
</article>
{% endblock %}

<!--{% for post in posts %}-->
<!--<h1>{{ post.title }}</h1>-->
<!--<small>{{ post.created }}, {{ post.author }}</small>-->
<!--<p>{{ post.content }}</p>-->
<!--<p>Komentarų: {{ post.comments.count }}</p>-->
<!--{% endfor %}-->